In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('steam_reviews.csv')

In [3]:
df.head()

,date_posted,funny,helpful,hour_played,is_early_access_review,recommendation,review,title
0,2019-02-10,2,4,578,False,Recommended,&gt Played as German Reich&gt Declare war on B...,Expansion - Hearts of Iron IV: Man the Guns
1,2019-02-10,0,0,184,False,Recommended,yes.,Expansion - Hearts of Iron IV: Man the Guns
2,2019-02-07,0,0,892,False,Recommended,Very good game although a bit overpriced in my...,Expansion - Hearts of Iron IV: Man the Guns
3,2018-06-14,126,1086,676,False,Recommended,Out of all the reviews I wrote This one is pro...,Dead by Daylight
4,2017-06-20,85,2139,612,False,Recommended,Disclaimer I survivor main. I play games for f...,Dead by Daylight

In [4]:
df = df.fillna('')

In [5]:
df.describe()

              funny        helpful    hour_played
count  4.348910e+05  434891.000000  434891.000000
mean   5.333024e+05       1.004114     364.130773
std    4.785640e+07      59.462935     545.961198
min    0.000000e+00       0.000000       0.000000
25%    0.000000e+00       0.000000      62.000000
50%    0.000000e+00       0.000000     190.000000
75%    0.000000e+00       0.000000     450.000000
max    4.294967e+09   28171.000000   31962.000000

In [6]:
rws = df.review

In [7]:
rws

0         &gt Played as German Reich&gt Declare war on B...
1                                                      yes.
2         Very good game although a bit overpriced in my...
3         Out of all the reviews I wrote This one is pro...
4         Disclaimer I survivor main. I play games for f...
                                ...
434886    YOUR FLESH WILL ROT AND DECAY.STEEL IS IMMORTA...
434887    Domini and Dominae I believe what we are deali...
434888    First off if you like X Com style of games you...
434889    As a disclaimer I'm an AdMech player on the ta...
434890    Don't listen to people who claim it's the game...
Name: review, Length: 434891, dtype: object